/* ========== Base (Mobile First) ========== */

#wrapper {
  background-color: var(--primary-light);
  overflow: hidden;
  padding-top: 112px;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  margin: auto;
  padding: 0px 16px;
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  z-index: 100;
}

.content {
  width: 100%;
}

.content > * {
  margin: 0;
}

.content-text {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: var(--font-open-sans);
}

.content-topper {
  font-weight: 700;
  font-family: var(--font-montserrat);
}

.content-title {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
}

.accent {
  color: var(--primary);
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 1.25rem;
}

.picture-wrapper-mobile {
  position: relative;
  overflow: hidden;
}

.picture-mobile img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
  transition: opacity 500ms;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ========== Tablet (min-width: 680px) ========== */
@media (max-width: 680px) {
  .picture-wrapper {
    display: none;
  }
}

@media (min-width: 680px) {
  #wrapper {
    height: 700px;
  }

  .content {
    width: 60%;
  }

  .picture-wrapper-mobile {
    display: none;
  }

  .picture-wrapper {
    top: 0px;
    left: 30%;
    width: 100%;
    z-index: -1;
    height: 700px;
    position: absolute !important;
    overflow: hidden;
  }

  .picture img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
    transition: opacity 500ms;
  }
}

/* ========== Dark Mode ========== */

body.dark-mode #wrapper {
  background-color: var(--primary-dark);
}

body.dark-mode .content > * {
  color: var(--primary-light);
}