/* ABOUT PAGE CSS */
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.link {
  color: var(--accent-primary);
}

.link:hover {
  color: var(--accent-primary-hover);
}

.bookshelf {
  margin-top: 2rem;
}

.callout {
  background-color: var(--bg-section);
  padding: var(--section-padding);
  border-radius: 1rem;
  border: 1px solid var(--text-primary);
}

.crBookshelf,
.rrBookshelf {
  margin-top: 1.5rem;
}

.bookshelfGrid {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
}

@media only screen and (min-width: 64rem) {
  .bookshelfGrid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}
