@media only screen and (min-width: 0rem) {
  #project {
    /* centers button */
    text-align: center;
    /* 116px - 164px top */
    /* 60px - 100px  bottom */
    padding: clamp(7.25rem, 16.82vw, 10.25rem) 1rem
      clamp(3.75rem, 7.82vw, 6.25rem);
    background-color: #f7f7f7;
    /* clips the svg wave from overflowing */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #project .container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #project {
    text-align: left;
  }
  #project .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
