:root {
  /* --primary: #CC9712;
  --lightBrand: #F4D27C;
  --darkBrand: #674D09;
  --primaryAccent: #508991;
  --lightAccent: #A3C7CC;
  --darkAccent: #284548;
  --primary-light: #f2f2f2;
  --lightWhite: #F9F9F9;
  --darkWhite: #797979;
  --primary-dark: #29282a;
  --lightBlack: #949296;
  --darkBlack: #141415; */

  --neutral: var(--neutral-02);
  --neutral-dark: var(--neutral-05);
  --neutral-light: var(--neutral-01);
  --primary: var(--primary-03);
  --primary-dark: var(--primary-05);
  --primary-light: var(--primary-01);
  --secondary: var(--secondary-04);
  --secondary-dark: var(--secondary-05);
  --secondary-light: var(--secondary-01);

  --neutral-01: #f3f2f2;
  --neutral-02: #c2c0bc;
  --neutral-03: #868279;
  --neutral-04: #43413d;
  --neutral-05: #0d0d0c;
  --primary-01: #fef6e7;
  --primary-02: #f8d386;
  --primary-03: #f1a70e;
  --primary-04: #795407;
  --primary-05: #181101;
  --secondary-01: #ebf3fa;
  --secondary-02: #99c5e5;
  --secondary-03: #338bcc;
  --secondary-04: #194666;
  --secondary-05: #050e14;

  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;

  /* number */
  --btn-rounding: 0.75rem;
  --nav-padding-left-right: 1rem;
  --nav-list-spacing: 1.25rem;
  --btn-padding: 1.5rem;
  --nav-padding-top-bottom: 1.5rem;
  --spacing-default-spacing: 1rem;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-montserrat);
}

p,
span,
a {
  font-family: var(--font-open-sans);
}

*,
*:before,
*:after {
  /* prevents padding from affecting height and width */
  box-sizing: border-box;
}

.topper {
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 0.25rem;
  display: block;
}

.title {
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  max-width: 43.75rem;
  margin: 0 0 1rem 0;
  color: var(--primary-dark);
  position: relative;
}

.text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--primary-dark);
}

/* Add this as it's own dark.css file and linked on all pages */
/*-- -------------------------- -->
<---      Core Dark Styles      -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  :root {
    /* --dark: #082032; */
    /* --medium: #2c394b; */
    /* --accent: #334756; */
    /* --bodyTextColorWhite: #fafbfc; */
  }
  body.dark-mode {
    background-color: var(--primary-dark);
  }
  body.dark-mode p,
  body.dark-mode li,
  body.dark-mode h1,
  body.dark-mode h2,
  body.dark-mode h3,
  body.dark-mode h4,
  body.dark-mode h5,
  body.dark-mode h6,
  body.dark-mode .title,
  body.dark-mode .text,
  body.dark-mode .li {
    color: var(--primary-light);
  }
  body.dark-mode .light {
    display: none;
  }
  body.dark-mode .dark {
    display: block !important;
  }
  .dark {
    /* class used to hide elements that only need to be seen when dark mode is enabled */
    display: none;
  }
}
/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  body.dark-mode #dark-mode-toggle .sun {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  body.dark-mode #dark-mode-toggle .moon {
    transform: translate(-50%, -150%);
    opacity: 0;
  }
  #dark-mode-toggle {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3.75rem;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    overflow: hidden;
    padding: 0;
  }
  #dark-mode-toggle img,
  #dark-mode-toggle svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.5625rem;
    height: 1.5625rem;
    pointer-events: none;
  }
  #dark-mode-toggle .moon {
    z-index: 2;
    transition: transform 0.3s, opacity 0.3s, fill 0.3s;
    fill: #000;
  }
  #dark-mode-toggle .sun {
    z-index: 1;
    transform: translate(-50%, 100%);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
  }
}
/* Desktop */
@media only screen and (min-width: 64rem) {
  #dark-mode-toggle {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    margin-left: 1.875rem;
    margin-bottom: 0rem;
  }
  #dark-mode-toggle .moon {
    /* change to whatever you need */
    /* fill: #fff; */
  }
}
