.book-card {
  /* max-width: 480px; */
  /* border-radius: 12px; */
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  /* font-family: sans-serif; */
  /* background-color: #fff; */
  /* display: flex; */
  /* flex-direction: column; */
  
  display: flex;
  overflow: hidden;
  background-color: var(--primary-02);
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  gap: 16px;
  align-items: flex-start;
  transition: box-shadow 0.2s ease;
  color: var(--primary-dark);
}

.book-card:hover {
  box-shadow: 0 6px 16px rgba(0,0,0,0.1);
}


.card-image {
  height: 180px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.card-content {
  /* padding: 16px; */
  color: var(--primary-dark);
}

.card-category {
  font-size: 8px;
  font-weight: 700;
  color: var(--primary-light);
  text-transform: uppercase;
  background-color: var(--primary);
  border-radius: 3px;
  margin-right: 4px;
  padding: 4px;
}

.card-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
}

.card-title {
  margin: 8px 0;
  font-size: 18px;
  font-weight: 600;
  /* color: #1a1b1e; */
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  font-size: 14px;
  /* color: #868e96; */
}

.card-author {
}

.card-date {
}

/* Skeleton-specific styles */
.skeleton {
  animation: pulse 1.5s infinite;
}

.skeletonCover {
  width: 100px;
  height: 150px;
  border-radius: 8px;
  background-color: var(--neutral-01);
}

.skeletonTitle,
.skeletonAuthor,
.skeletonRating,
.skeletonButton {
  height: 16px;
  border-radius: 4px;
  background-color: var(--neutral-01);
}

.skeletonTitle {
  width: 70%;
  margin-top: 8px;
}

.skeletonAuthor {
  width: 50%;
}

.skeletonRating {
  width: 60%;
  margin-top: 12px;
}

.skeletonButton {
  width: 40%;
  height: 32px;
  margin-top: 16px;
  border-radius: 8px;
}

/* Subtle pulsing animation */
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
