/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/
/* Mobile -360px */
@media only screen and (min-width: 0rem) {
  body.dark-mode #dark-mode-toggle .sun {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  body.dark-mode #dark-mode-toggle .moon {
    transform: translate(-50%, -150%);
    opacity: 0;
    fill: #fff;
  }
  #dark-mode-toggle {
    display: block;
    position: absolute;
    /* top: 0.625rem; */
    right: 4.375rem;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    overflow: hidden;
    padding: 0;
    z-index: 1000;
  }
  #dark-mode-toggle img,
  #dark-mode-toggle svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.25rem;
    height: 1.25rem;
    pointer-events: none;
  }
  #dark-mode-toggle .moon {
    z-index: 2;
    transition: transform 0.3s, opacity 0.3s;
  }
  #dark-mode-toggle .sun {
    z-index: 1;
    transform: translate(-50%, 100%);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #dark-mode-toggle {
    position: relative;
    transform: none;
    top: auto;
    right: auto;
    margin: 0;
  }
  #dark-mode-toggle:hover {
    cursor: pointer;
  }
}

/*-- -------------------------- -->
  <---     Mobile Navigation      -->
  <--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body.open {
    overflow: hidden;
  }
  #navigation {
    width: 100%;
    padding: 0 1rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: var(--primaryBlack);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    position: fixed;
    z-index: 10000;
  }
  #navigation.active .ul-wrapper {
    opacity: 1;
    transform: scaleY(1);
  }
  #navigation.active .li {
    transform: translateY(0);
    opacity: 1;
  }
  #navigation .container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #navigation .logo {
    width: 40%;
    max-width: 4rem;
    height: 100%;
    margin: 0 auto 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    text-decoration: none;
  }

  #navigation .logo img {
    width: 80%;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
  }

  #navigation .logo .logo-text {
    color: var(--primary);
  }

  #navigation .logo .logo-text .mobile-logo-text {
    display: none;
  }

  #navigation .toggle {
    /* 44px - 48px */
    width: clamp(2.75rem, 6vw, 3rem);
    height: clamp(2.75rem, 6vw, 3rem);
    margin: 0 0 0 auto;
    border-radius: 0.25rem;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navigation .active .line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
  }
  #navigation .active .line2 {
    top: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
  }
  #navigation .active .line3 {
    bottom: 100%;
    opacity: 0;
  }
  #navigation .box {
    /* 24px - 28px */
    width: clamp(1.5rem, 2vw, 1.75rem);
    /* 20px - 24px */
    height: clamp(1.25rem, 1.5vw, 1.5rem);
    position: relative;
  }
  #navigation .line {
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background-color: var(--primaryWhite);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #navigation .line1 {
    top: 0;
    transform-origin: center;
    transition: transform 0.5s, top 0.3s, left 0.3s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }
  #navigation .line2 {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: top 0.3s, left 0.3s, transform 0.5s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }
  #navigation .line3 {
    bottom: 0;
    transition: bottom 0.3s, opacity 0.3s;
  }
  #navigation .ul-wrapper {
    width: 100%;
    height: 100vh;
    padding-bottom: 2.4em;
    opacity: 0;
    background-color: var(--primaryBlack);
    box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.4s, opacity 0.3s;
  }
  #navigation .ul {
    margin: 0;
    padding: 1.5rem;
    width: 100%;
    height: auto;
    max-height: 65vh;
    overflow: scroll;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
  }
  #navigation .li {
    list-style: none;
    margin-right: 0;
    /* transition from these values */
    transform: translateY(-4.375rem);
    opacity: 0;
    transition: transform 0.6s, opacity 0.9s;
  }
  #navigation .li:nth-of-type(1) {
    transition-delay: 0.05s;
  }
  #navigation .li:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  #navigation .li:nth-of-type(3) {
    transition-delay: 0.15s;
  }
  #navigation .li:nth-of-type(4) {
    transition-delay: 0.2s;
  }
  #navigation .li:nth-of-type(5) {
    transition-delay: 0.25s;
  }
  #navigation .li:nth-of-type(6) {
    transition-delay: 0.3s;
  }
  #navigation .li:nth-of-type(7) {
    transition-delay: 0.35s;
  }
  #navigation .li:nth-of-type(8) {
    transition-delay: 0.4s;
  }
  #navigation .li:nth-of-type(9) {
    transition-delay: 0.45s;
  }
  #navigation .li-link {
    /* 16px - 24px */
    font-size: clamp(1rem, 4vw, 3rem);
    line-height: 1.2em;
    text-decoration: none;
    margin: 0;
    color: var(--primaryWhite);
    display: inline-block;
    position: relative;
    font-weight: bold;
    font-family: var(--font-montserrat);
  }
  #navigation .li-link:before {
    /* active state underline */
    content: "";
    width: 100%;
    height: 1px;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: none;
    bottom: -0.125rem;
    left: 0;
  }
  #navigation .li-link.active:before {
    display: block;
  }
  #navigation a {
    display: none;
  }
}
/* Dark Mode */
@media only screen and (max-width: 63.9375rem) {
  body.dark-mode #navigation {
    background-color: var(--primaryBlack);
  }
  /* body.dark-mode #navigation .logo {
    makes it white
    filter: grayscale(1) brightness(1000%);
  } */
  body.dark-mode #navigation .line {
    background-color: #fff;
  }
  body.dark-mode #navigation .ul-wrapper {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #navigation .li-link {
    color: var(--primaryWhite);
  }
}

/*-- -------------------------- -->
  <---     Desktop Navigation     -->
  <--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #navigation {
    width: 100%;
    padding: 0 1rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: var(--primaryBlack);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    position: fixed;
    z-index: 10000;
  }
  #navigation .container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }
  #navigation .toggle {
    display: none;
  }
  #navigation .logo {
    width: auto;
    max-width: 21.875rem;
    height: 4.0625rem;
    /* margin-right auto pushes everything away from it to the right */
    margin: 0 auto 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    text-decoration: none;
  }

  #navigation .logo img {
    width: 100%;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
  }

  #navigation .logo .logo-text {
    color: var(--primary);
  }

  #navigation .logo .logo-text .mobile-logo-text {
    color: var(--primaryWhite);
  }

  #navigation .ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* 20px - 36px */
    gap: clamp(1.25rem, 2.6vw, 2.25rem);
  }

  #navigation .li {
    list-style: none;
    padding: 2rem 0;
    /* prevent flexbox from squishing it */
    flex: none;
  }

  #navigation .li-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--primaryWhite);
    display: block;
    position: relative;
  }

  #navigation .li-link:hover:before {
    width: 100%;
  }

  #navigation .li-link.active:before {
    width: 100%;
  }

  #navigation .li-link:before {
    /* active state underline */
    content: "";
    width: 0%;
    height: 2px;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0rem;
    left: 0;
    transition: width 0.3s;
  }

  #navigation .mobile-only {
    display: none;
  }
}
