#wrapper {
  background-color: var(--primary-dark);
  height: 700px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: auto;
  padding: 32px 16px;
  height: 100%;
}

.title {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  display: inline-block;
}

.title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
    height: 2px; /* Height of the underline */
    background-color: var(--primary); /* Color of the underline */
    transition: width 0.6s ease-in-out; /* Smooth transition for width */
}

.reveal.title::after {
    width: 25%;
}

.content {
  max-width: 40em;
  line-height: 1.5;
  width: 100%;
}

.content a {
  display: flex;
  width: 50%;
  justify-content: center;
  border: none;
}

/* ========== Tablet (min-width: 680px) ========== */

@media (min-width: 680px) {
  .title {
    font-size: 3rem;
  }

  .content {
    font-size: 1.25rem;
  }
  .content a {
    width: 25%;
  }
}
